input {
	keyboard {
		xkb {
			layout "us"
		}
        repeat-delay 500
        repeat-rate  30
	}
	touchpad {
		tap
		natural-scroll
	}
}

output "eDP-1" {}
output "DP-1" {}

cursor {
    hide-after-inactive-ms 500
}
window-rule {
    open-fullscreen         false
    open-maximized          false
    open-maximized-to-edges false
    geometry-corner-radius  12
    clip-to-geometry        true
    focus-ring {
    	on
    	width 2
        active-color "#e2eaff"
    }
}
layout {
    center-focused-column "never"
}
hotkey-overlay {
	skip-at-startup
	hide-not-bound
}

spawn-at-startup "waybar"
spawn-at-startup "swaybg" "-i" "/home/kanarus/.local/share/wallpaper/default.png" "-m" "fill"
spawn-at-startup "swayidle" "-w" "before-sleep" "bash /home/kanarus/nixos-configuration/home/desktop/sleepcontrol.sh 'pre'" "after-resume" "/home/kanarus/nixos-configuration/home/desktop/sleepcontrol.sh 'post'"
spawn-at-startup "niri" "msg" "action" "move-workspace-to-monitor-next" // does nothing if not exists

binds {
	Print            { screenshot-window; }
	Ctrl+Print       { screenshot; }
	Ctrl+Space       { spawn "fcitx5-remote" "-t"; }
	Mod+Q            { close-window; }
	Mod+Left         { focus-column-left; }
	Mod+Right        { focus-column-right; }
    Mod+Up           { focus-window-or-workspace-up; }
    Mod+Down         { focus-window-or-workspace-down; }
	Mod+Return       { maximize-column; }
	Mod+T            { spawn "ghostty"; }
	Mod+B            { spawn "firefox"; }
	Mod+Alt+Left     { swap-window-left; }
	Mod+Alt+Right    { swap-window-right; }
	Ctrl+Shift+Left  { move-workspace-to-monitor-left; }
	Ctrl+Shift+Right { move-workspace-to-monitor-right; }
}
